@import './_breakpoints.scss';
@import './_colors.scss';
@import './_fonts.scss';
@import './_paths.scss';

@import './details.scss';
@import './main.scss';
@import './sidebar.scss';
@import './table.scss';

.App {
    display: flex;
    flex-direction: row;
    font-family: $font;
    min-height: 100vh;
    min-width: 100%;
    background-color: $primary-color;
    a {
        @include clickable;
    }
    @include media-min(tablet-up) {
        background-color: $bg-light;
    }
}